.feedback {
}
.feedback__container {
    padding-top: 160px;
    padding-bottom: 160px;
    > *:not(:last-child) {
        margin-bottom: 10px;
    }
    @include media-desktop {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include media-tablet {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include media-mobile {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.feedback__subtitle {
}
.subtitle_colored {
}
.feedback__title {
}
.feedback__text {
    @include font (1.4, 2.0, 400);
    letter-spacing: 0.2px;
}
.layout-3-column {
}
.feedback__body {
    margin-top: 70px;
    justify-content: space-evenly;
    @media (max-width: 700px) {
        margin-top: 0;
    }
}
.feedback-item {
    @media (max-width: 700px) {
        flex-wrap: wrap;
    }
}
.feedback-item__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include flex (0, 1, 170px);
    @include media-tablet {
        @include flex (0, 1, 32%);
    }
    @media (max-width: 700px) {
        @include flex (0, 1, 90%);
        margin: 25px 0px;
    }
}
.feedback-item__stars {
    display: flex;
    > *:not(:last-child) {
        margin-right: 5px;
    }
}
.feedback-item__star {
    width: 22px;
    height: 22px;
    &_colored {
        background: url(../../src/images/icons/star-colored.svg);
    }
    &_uncolored {
        background: url(../../src/images/icons/star-uncolored.svg);
    }
}
.feedback-item__comment {
    @include font (1.4, 2.0, 400);
    letter-spacing: 0.2px;
    margin: 15px 0px 30px;
    // margin: 15px 95px 30px;
    @include flex (1, 1, auto);
}
.feedback-item__person {
    display: flex;
}
.feedback-item__photo {
    margin-right: 15px;
}
.feedback-item__content {
}
.feedback-item__name {
}
.feedback-item__post {
    @include font (1.2, 1.6, 400);
    letter-spacing: 0.2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $color-text-add;
}