.header {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-bg-light-gray;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 742px) {
        justify-content: space-between;
    }
}
.header__logo {
    @include font (2.4, 3.2);
    color: $color-text-add;
    letter-spacing: 0.1px;
    // @include flex (1);
    // margin-right: 25px;
    @media (max-width: 742px) {
        display: flex;
        align-items: center;
    }
    @include media-mobile {
        @include flex (1, 1, 100%);
        justify-content: space-between;
    }
}
.menu__hamburger {
    margin-right: 15px;
}
.header__title {
    @media (max-width: 450px) {
        @include font (1.8, 2.4);
    }
}
.header__navigation {
    @include flex (1);
    @media (max-width: 742px) {
        @include flex (0, 1, auto);
    }
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding: 0px 77px;
    // margin: 0px 75px;
}
.nav__list {
    display: flex;
    @media (max-width: 742px) {
        display: none;
    }
}
.nav__item {
    &:not(:last-child) {
        margin-right: 21px;
    }
}
.nav__link {
    color: $color-text-second;
    &:hover {
        text-decoration: underline;
    }
}
.header__buttons {
    display: flex;
    & > *:not(:last-child) {
        margin-right: 20px;
    }
    & .button_colored {
        text-transform: uppercase;
    }
    @include media-mobile {
        display: none;
    }
}
